/* OUR STYLE FILE: A CSS SHEET */
Html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/*

Colors: ;

Blue #040DBF
Yellow #FFB443
LightPink #FFD5E8
LightGreen #D5E691
DarkGreen #0BA452
Mint #CFFAEA
Red  #FF2525


H1 is Hatton-Bold at 250px

H2 is Hatton-Bold at 150px

H3 IS Hatton-Bold at 70px

H4 is Sofi-Pro Medium at 50px









/*typefaces*/



hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-top: 6px solid #FF2525;
}

img {
	max-width: 100%;
}

#landingpage img

.row:before,
.row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}

/* The most representative style of your type shold be established
 first. Then you can change it with specificity later.
*/


body {
	font-family:'Sofia-Pro' ,sans-serif;
	font-size: 35px;
	font-weight: 400;
	background-color: #FFD5E8;
}


h1 {
	font-family: 'kepler-std',serif;
	font-weight: 300;
	font-style: normal;
	color: #FF2525;

	/* we could also use font-size: 4rem; to get the same size. 
	Ultimatley if we were building a site to be completely 
	responsive then we would want to use this but I am going 
	to use my Figma File as a refernce and they use absolute values
	*/
}


h2 {
	font-family: kepler-std,serif;
	font-weight: 400;
	font-style: normal;
	color:#FF2525;
	font-size: 120px;
}


h3 {
	font-family: kepler-std,serif;
	font-weight: 500;
	font-style: normal;
}

h4 {
	font-family: 'Sofia-Pro', sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight:500 ;
	line-height: ;
	margin: 0;
}

p {
	font-family: sofia-pro,sans-serif;
	font-weight: 20px;
	font-style: normal;
	font-size: ;
	line-height: ;
	margin: 0;
}

a {

}

a:hover {

}

ul {
	list-style-type: none;
}

li {
	display: inline;
	text-decoration: none;
}

.tighten {
	letter-spacing: -0.03em;
}


/* layout styling */

.container {
	width: 1170px;
	margin: 0 auto;


	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 50px, 1fr, 1fr, 100px;
	column-gap: 10px;
}



.container-fluid {
	width: 100%;
	height: auto;
	padding-top: ;
	padding-bottom: ;
}

.right-align {
	float: right;
}

/*header*/

.headercontainer{
	height: 100px;
	width: 1170px;
	margin: 0 auto;
	padding: 10px;



	grid-column-start: 1;
	grid-column-end: 2;


}


header {
	background-color: #FFD5E8;
}


#logo>a {
	
	display: inline-block;
	width: 80px;
	padding-top: 10px;
}

header nav {
	width: 582px;
	margin-top: 5px;
}

.nav-link {
	margin-top: 10px;
	margin-bottom: 10px;
}

.nav-link a {
	font-family: 'sofia-pro', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #FF2525 ;
	margin-top:px ;
	margin-right: 20px;
	margin-left: 10px;
	padding: 40px 40px;
}

a.CTA {
	background-color: #FFD5E8;
	font-family: 'Sofia-Pro', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #FF2525;
	padding: 1em 2.5em;
	border-radius: 2em;
	border-style: solid;
	border-color:#FF2525 ;
}

/* Hero/Bilboard Styling */


#illust {
	background-image:url('../images/landingpagephoto.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 611px;
	width: 100%;
	margin-top: -200;
}

#hero-chunk h4{
	color: #FF2525;
	float: right;
	width: 444px;
	margin-top: 40px;
}

#hero-chunk h1{
	height: 500px;
	font-size: 200px;
	margin-top: 10px;
	padding-top: 269px;
	line-height: .80;
}

.horizontal-line{
	margin-top: 20px;
	width: 444px;
	border-bottom: 5px #FF2525;
}


/*shop section*/

#shopsections{
	margin-top: 300px;
}

#shop hr{
	margin: 0px;
}

#shop h2{
	margin-top: 10px;
	margin-bottom: 0px;
}

#shop h3{
	margin-top: 5px;
	font-size: 30px;
	color:#FF2525 ;
}

/*shop*/
.shop section{
	margin-top: 329px;
}
.shop img{
	height: 500px;
}
.shop h4{
	color:#FF2525 ;
	font-style: italic;
	size: 35px;
	margin-bottom: 10px;
}

.shop p{
	font-size: 25px;
	color:#FF2525 ;	
}


#shop1 section{
	margin-top: 320px ;
}

#shop2 section{
	margin-top: 435px ;
}

#shop3 section{
	margin-top:612px ;
}

#shop4 section{
	margin-top: 236px;
}


.footercontainer{
	height: 400px;
	width: 1170px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 10px;
	text-align: center;

	grid-column-start: 1;
	grid-column-end: 2;
}

.footercontainer h3 {
	color: #FF2525;
}

.input-group-text{
	font-family:'Sofia-Pro' ,sans-serif;
	font-size: 30px;
	font-weight: 400;
	background-color: #FFD5E8;
	color: #FF2525

}
#email {
	height: 100vh;
}

.email button{
	margin-top: 15px;
	padding: 5px;
	background-color: hotpink;
}

.email button:hover{
	background-color: black;
}